# Files to be ignored
Hardware/Revision-control-archive/
Release-revision-control-archive/
led8x11displaylib.egg-info/
Software/Reference/
Software/Arduino-nano/Reference/
Software/PongBoard/Resources/
fab-notes/
.vscode/
build/
dist/
*.raw
